body {
  background-color: #505050;
  color: #fff;
  font-family: Arial;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

small {
  color: #aaa;
  font-size: 20px;
}

#container {
  margin-bottom: 20px;
}

#image {
  margin-bottom: 10px;
}

input {
  padding: 5px;
}

td img {
    width: 128px;
}

tr {
  background-color: #606060;
}

.track-title {
  margin-left: 5px;
  color: #fff !important;
}

.track-title:hover {
  color: #8CFF19 !important;
}